html.dark {
  //侧边栏展开按钮
  --app-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --app-toggle-bar-color: rgba(64, 64, 67, 1);
  --app-toggle-bar-color-hover: rgba(88, 88, 91, 1);

  // 侧边栏菜单
  --el-menu-active-bg-color: var(--el-color-primary-light-9);

  // 卡片
  .el-card {
    --el-card-bg-color: var(--el-bg-color);
  }
}
