@use "@/styles/element/index";
@use "@/styles/theme/light";
@use "@/styles/theme/dark";
@use "@/styles/transform";
@use "@/styles/variables";

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  color: var(--el-text-color-primary);
  font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  background-color: var(--el-bg-color);
}

a {
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  padding: 16px;
}

/* 进度条样式-s */
#nprogress {
  position: fixed;
  z-index: 999;

  .bar {
    background: var(--el-color-primary) !important;
  }

  .peg {
    box-shadow: 0 0 10px var(--el-color-primary),
    0 0 5px var(--el-color-primary) !important;
  }
}

/* 进度条样式-e */
