.el-container {
  height: 100%;

  .el-header {
    --el-header-padding: 0;
    --el-header-height: auto;
  }

  .el-table {
    .el-table__header-wrapper {
      thead {
        th.el-table__cell {
          background-color: var(--el-fill-color-light);
          color: var(--el-text-color-primary);
        }
      }
    }
  }


  .el-form,
  .el-form--inline {
    .el-tree, .el-cascader {
      width: 100%;
    }
  }

  .el-scrollbar {
    .el-scrollbar__bar {
      z-index: 999;
    }
  }
}


